AnemAlTeatreSorwar/simple.xsd

<?xml version="1.0"?>


<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="dni" type="xs:string"/>
                <xs:element name="direccion" type="xs:string"/>
                <xs:element name="edad" type="xs:string"/>
                <xs:element name="telefono" type="xs:string"/>         
                
            </xs:sequence>       
        </xs:complexType>
    </xs:element>     
</xs:schema>
